---
import { getCollection } from "astro:content";
import PostCardTags from "../../../components/PostCardTags.astro";
import { SITE_DESCRIPTION } from "../../../consts";
import { Langages, defaultLang } from "../../../i18n/ui";
import { useTranslationsObject } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";
import { getPostLanguage } from "../../../utils/post.utils";

type Prop = { tags: string[] };

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  const tags = pages.reduce<Set<[Langages, String]>>((acc, page) => {
    page.data.tags.forEach((tag) => acc.add([getPostLanguage(page.slug), tag]));
    return acc;
  }, new Set());

  function getTags(lang: Langages) {
    const tags = new Set();
    for (const page of pages) {
      page.data.tags.forEach((tag) => tags.add(tag));
    }
    return [...tags].sort();
  }

  return Object.values(Langages).map((lang) => ({
    params: {
      lang,
    },
    props: {
      tags: getTags(lang),
    },
  }));
}

const lang = (Astro.params.lang ?? defaultLang) as Langages;
const { tags } = Astro.props;

const t = useTranslationsObject(lang);
---

<Layout title={String(t.blog)} description={SITE_DESCRIPTION} lang={lang}>
  <section class="blog">
    <h1>Tags</h1>
    <PostCardTags tags={tags} />
  </section>
</Layout>

<style>
  .blog {
    padding-top: var(--spacing);
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacing-2);
  }
</style>
