---
layout: main
title: Blog
description: Mes idées et mes diverses divagations
---
<div class="row">
	<div class="col">
		<h1>Blog</h1>

		<div class="card-columns">
			{% for post in site.posts %}
			<div class="card ">
				<!-- {% if post.thumbnail %}
				<img class="card-img-top" src="{{ post.thumbnail }}" alt="Card image cap">
				{% endif %} -->
				<div class="card-body">
					<h2 class="card-title h5 mb-0"><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h2>
					<p class="card-text ">
						{% for tag in post.tags %}
						<span class="badge badge-light">{{ tag }}</span>
						{% endfor %}
					</p>
					<p class="card-text text-justify">{{ post.excerpt }}</p>
					<!-- <a class="card-link" href="{{ post.url }}">voir plus</a> -->
					<div class="card-footer text-muted">{{ post.date | date_to_long_string }}</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</div>