---
layout: landing
---

<section class="main">
  <h1 class="hide">Alexandre Rousseau</h1>
  <p>Bonjour, je m'appelle <strong>Alexandre.</strong></p>
  <p>Je suis un développeur fullstack / DevOPS.</p>
</section>

<hr />

<section>
  <h2 class="hide">à propos</h2>
  {% for desc in site.translations[site.lang]['description'] %}
  <p>{{ desc }}</p>
  {% endfor %}
</section>

<hr />

<section>
  <h2>{{ site.translations[site.lang]['last_posts'] }}</h2>
  <ul>
    {% for post in site.posts limit: 8 %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> - {{ post.description }}</li>
    {% endfor %}
  </ul>
  <p>
    <a href="{{ '/blog' | prepend: site.baseurl }}">{{ site.translations[site.lang]['see_all_posts'] }}</a>
  </p>
</section>
