---
layout: main
---
<div class="row">
	<div class="col">
		<h2>Portfolio</h2>
		<p class="lead text-justify">J'aime apprendre de nouvelle technologies et mes projets personnels sont en quelque sortes mes bacs à sable. En voici quelques un</p>
	</div>
</div>
<div class="row pt-5">
	{% for project in site.data.projects %}
		<div class="col col-xs-12 col-sm-6 col-lg-4 p-2">
			<div class="item">
				<h3 class="h5">
					<a href="{{ project.website }}">{{ project.name }}</a>
				</h3>
				<p>
					{% for tag in project.tags %}
						<span class="badge badge-dark">{{ tag }}</span>
					{% endfor %}
				</p>
				<p class="text-justify">{{ project.description }}
					{% if project.github %}
						<a href="{{ project.github }}"><img src="/img/github-logo.svg" alt="Github" height="25"></a>
					{% endif %}
				</p>
			</div>
		</div>
	{% endfor %}
</div>