---
layout: main
---
<div class="row pt-2 pb-5">
	<div class="col">
		<blockquote class="blockquote">
			<p>{{ site.data.profil.description.multiline }}</p>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2 class="mb-5">Experience</h2>
		{% for experience in site.data.experiences %}
			<p class="lead"><strong>{{ experience.title }}</strong> @ <a href="{{ experience.company.url }}">{{ experience.company.name }}</a><br/>
				<small>
	            {% for tag in experience.tags %}
	              <span class="badge badge-light">{{ tag }}</span>
	            {% endfor %}
					
				</small>
          	</p>
          	<ul class="list-unstyled">
          		{% for task in experience.tasks %}
	              <li>{{ task }}</li>
	            {% endfor %}
          	</ul>
		{% endfor %}
	</div>
	<div class="col">
		<h2 class="mb-5">Projets</h2>
		{% include projects.html %}
	</div>
</div>