---
layout: main
title: Résumé
description: Mon experiences et les études que j'ai réalisé 
---

<!-- <div class="row pt-2 pb-5">
	<div class="col">
		<p class="lead text-justify">{{ site.data.profil.description.multiline }}</p>
	</div>
</div> -->
<div class="row">
	<!-- experiences -->
	<div class="col-xs-12 col-sm-12 col-md-6">
		<h2>Experience</h2>
		{% for experience in site.data.experiences %}
			<div class="item">
				<p class="mb-0"><small>{{ experience.date.start | date: "%m-%Y" }} ~ {{ experience.date.end | date: "%m-%Y" }}</small></p>
				<h3 class="h5">{{ experience.title }} @ <i><a href="{{ experience.company.url }}">{{ experience.company.name }}</a></i></h3>
				<p class="mt-1">
					{% for tag in experience.tags %}
						<span class="badge badge-dark">{{ tag }}</span>
					{% endfor %}
				</p>
				{% for task in experience.tasks %}
					<p class="my-1">{{ task }}</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<!-- qualification -->
	<div class="col-xs-12 col-sm-12 col-md-6">
		<h2>Etudes</h2>
		{% for qualification in site.data.qualifications %}
			<div class="item">
				<p class="mb-0"><small>{{ qualification.date.start | date: "%m-%Y" }} ~ {{ qualification.date.end | date: "%m-%Y" }}</small></p>
				<h3 class="h5">{{ qualification.title }} @ <i>{{ qualification.place }}</i></h3>
				<p class="mt-1">
					{% for tag in experience.tags %}
						<span class="badge badge-dark">{{ tag }}</span>
					{% endfor %}
				</p>
				<p class="text-justify">{{ qualification.description }}</p>
			</div>
		{% endfor %}
	</div>
</div>