<p>
  Cet
  <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">article</span>
  de
  <a xmlns:cc="http://creativecommons.org/ns#" href="/" property="cc:attributionName" rel="cc:attributionURL"
    >Alexandre Rousseau</a
  >
  est mise à disposition selon les termes de la
  <a
    rel="license"
    href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
    title="licence Creative Commons Attribution - Pas d’Utilisation Commerciale
          - Partage dans les Mêmes Conditions 4.0 International"
    target="_blank"
    >CC BY-NC-SA 4.0</a
  >.
</p>
