<footer class="footer">
  <div class="footer__terms">
    <p>{% t footer.poweredBy %}</p>
    <p>{% t footer.licence %}</p>
    <p>{% t footer.cookie %}</p>
  </div>
  <div class="footer__externals-inks">
    <a href="https://stackoverflow.com/users/5935198/rousseaualexandre">StackOverflow</a>
    <a href="https://github.com/madeindjs">Github</a>
    <a href="https://www.linkedin.com/in/alexandre-rousseau-a55a9464/">LinkedIn</a>
    <a href="mailto:alexandre@rsseau.fr">alexandre@rsseau.fr </a>
  </div>
</footer>
