<footer>
  <nav>
    <ul class="list-inline">
      <li>
        <a href="mailto:{{site.data.profil.email}}"
          >{{site.data.profil.email}}</a
        >
      </li>
      <li><a href="/pgp.txt">GPG: 3072R/AB2676CC</a></li>
      {% for links in site.data.profil.links %}
      <li><a href="{{links.url}}">{{links.name}}</a></li>
      {% endfor %}
      <li>
        <a href="{{ '/resume' | prepend: site.baseurl }}"
          >{{ site.translations[site.lang]['resume'] }}</a
        >
      </li>
    </ul>
  </nav>
</footer>
