<title>
  {% if page.title %}{{ page.title }} - {% endif %}Alexandre Rousseau
</title>
<meta name="description" content="{{ page.description }}" />
<!-- CEO Stuffs -->
<link rel="canonical" href="{{ site.url }}" />

<meta property="rv" content="contact@rousseau-alexandre.fr" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title | default: site.title }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title | default: site.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<!-- compatibilities -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />

<!-- CSS -->
<link href="/css/stylesheet.css" rel="stylesheet" />
<script src="/js/script.js" defer></script>
