<header>
  <nav>
    <ul class="list-inline">
      <li><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></li>
      <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
      <li><a href="/books">Books</a></li>
      <!-- <li><a href="{{ '/resume' | prepend: site.baseurl }}">{{ site.translations[site.lang]['resume'] }}</a></li> -->
      {% if site.lang == 'fr' %}
      <li><a href="/en/">English version</a></li>
      {% elsif site.lang == 'en' %}
      <li><a href="/">French version</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
