<header class="jumbotron">
  <h1 class="text-center"><a href="/">{{ site.title }}</a></h1>
  <hr class="my-4"/>
  <ul class="lead nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/#portfolio">Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#portfolio">Résumé</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</header>