<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "HowTo",
    "name": "REST-API.ts",
    "description": "Learn best practices to build an API using Node.js and Typescript. The intention of this book it’s not only to teach you how to build an API. The purpose is also to teach you how to build scalable and maintainable API which means improve your current Node.js knowledge",
    "image": "https://rsseau.fr/img/books/rest-api-ts.svg",
    "totalTime": "PT60M",
    "estimatedCost": {
      "@type": "MonetaryAmount",
      "currency": "EUR",
      "value": "0"
    },
    "step": [
      {
        "@type": "HowToStep",
        "text": "I will explain how to configure your environment (if you haven’t already done so). We will then create an application called market_place. I will make sure to teach you the best practices I have learned from my experience. This means that after initializing the project, we will start using Git.",
        "name": "Introduction",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter01-introduction"
      },
      {
        "@type": "HowToStep",
        "text": "We set up an application architecture and dependency injection that we help us later to test our application.",
        "name": "The API",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter02-api"
      },
      {
        "@type": "HowToStep",
        "text": "We'll set up TypeORM and build our first model: user.",
        "name": "Presenting users",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter03-presenting-users"
      },
      {
        "@type": "HowToStep",
        "text": "We are going to set up our authentication mechanism. We'll set up the JWT token and ensure it is valid during authentification.",
        "name": "User authentication",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter04-authentication"
      },
      {
        "@type": "HowToStep",
        "text": "We are going to customize the JSON output and add a second resource: the user’s products. These are the elements that the user will sell in the application.",
        "name": "User’s products",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter05-user-products"
      },
      {
        "@type": "HowToStep",
        "text": "We'll update JSON output to get a JSON:API compliant response.",
        "name": "Building JSON",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter06-improve-json"
      },
      {
        "@type": "HowToStep",
        "text": "We'll build the order entity that allow user to purchase products.",
        "name": "Placing Orders",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter07-placing-orders"
      },
      {
        "@type": "HowToStep",
        "text": "We will take care of some validations on the order entity to make sure it is valid. That is Decrease the quantity of the current product when creating an order and manage the case where the product is not available.",
        "name": "Improving orders",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter08-improve_orders"
      },
      {
        "@type": "HowToStep",
        "text": "We'll setup pagination, caching, SQL query optimization and the activation of CORS.",
        "name": "Optimizations",
        "url": "https://rsseau.fr/books/rest-api-ts_en.html#chapter09-optimization"
      }
    ]
  }
</script>
