<section>
  <h2>
    <a href="{{ include.post.url | prepend: site.baseurl }}"
      >{{ include.post.title }}</a
    >
  </h2>
  <p>
    <date>{{ include.post.date | date: "%Y-%m-%d" }}</date>
    {% for tag in include.post.tags %}
    <a
      href="{{ '/tag/' | append: tag | append: '.html' | prepend: site.baseurl }}"
      ><code>#{{ tag }}</code></a
    >
    {% endfor %} @{{ include.post.categories }}
  </p>
  <p class="text-justify">
    {{ include.post.excerpt }}
    <a href="{{ include.post.url | prepend: site.baseurl }}"
      >{{ site.translations[site.lang]['see_more'] }}</a
    >
  </p>
</section>
