<div class="row">
  {% for project in site.data.projects %}
      <div class="card" style="width: 300px">
        <div class="card-body">
          <!-- picture -->
          {% if project.picture %}
            <img class="card-img-bottom" src="{{ project.picture }}" alt="Card image cap">
          {% else %}
            <!-- <img class="card-img-bottom" src="http://lorempixel.com/400/200/technics" alt="Card image cap"> -->
          {% endif %}
          <!-- title -->
          <h4 class="card-title">{{ project.name }}</h4>
          <!-- tags -->
          <p class="card-text">
            {% for tag in project.tags %}
              <span class="badge badge-secondary">{{ tag }}</span>
            {% endfor %}
          </p>
          <!-- description -->
          <p class="card-text">{{ project.description }}</p>
          {% if project.github %}
            <a href="{{ project.github }}" class="btn btn-default">code source</a>
          {% endif %}
          <!-- links -->
          {% if project.website %}
            <a href="{{ project.website }}" class="btn btn-primary">voir le site</a>
          {% endif %}
        </div>
      </div>
  {% endfor %}
</div>