{% for project in site.data.projects %}
  <div>
    <h3><a href="{{ project.website }}">{{ project.name }}</a></h3>
    <p>
      {% for tag in project.tags %}
        <span class="tag-box">{{ tag }}</span>
      {% endfor %}
    </p>
    <span class="tag-box -success">Lorem</span>
    <p>{{ project.description }}</p>
    {% if project.github %}
      <a href="{{ project.github }}">code source</a>
    {% endif %}
  </div>
  <!-- <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="img-fluid" src="{{ project.picture }}" alt="Card image cap">
  </div> -->
{% endfor %}