h1,
h2,
h3
	padding-bottom: 1rem

h1
	text-align: center
	font-size: 6rem

h2
	font-size: 4rem
	margin-top: 6rem

h3
	font-size: 2rem
	margin-top: 4rem

img
	margin-top: 1rem
	margin-bottom: 1rem

p.badges
	text-align: center
	span
		font-size: 1rem

pre
	padding: 1rem