div.container-blog
  max-width: 700px

  p
    margin-bottom: 1.5rem

  p
    font-size: 1.2rem

  code.highlighter-rouge
    color: gray
    font-style: normal

  blockquote
    border-left: 0.5rem lightgray solid
    padding-left: 0.5rem

  h2
    border-bottom: 1px dashed

  h2,h3
    margin-top: 2rem
    margin-bottom: 1rem
