.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    margin: 1rem;
  }
}

.card {
  // border: lightgray 1px solid;
  border-radius: 5px;
  box-shadow: 3px 6px 4px rgba(50, 50, 50, 0.2);
  // margin: 1rem;
  padding: 1rem;
  transition: box-shadow width 0.5s;
  background-color: white;

  background-position: center;
  background-size: cover;

  &-title {
    font-weight: 800;
  }

  &:hover {
    box-shadow: 3px 6px 8px rgba(50, 50, 50, 0.2);
  }
}
