$shadow_color: rgba(50, 50, 50, 0.2);

// from https://flatuicolors.com/palette/defo

$turquoise: #1abc9c;
$green_sea: #16a085;
$sun_flower: #f1c40f;
$orange: #f39c12;
$emerald: #2ecc71;
$nephritis: #27ae60;
$carrot: #e67e22;
$pumpkin: #d35400;
$peter_river: #3498db;
$belize_hole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$cloud: #ecf0f1;
$silver: #bdc3c7;
$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$light_grey: #ecf0f1;
$light_black: #2c3e50;
$light_blue: $peter_river;
$blue: $belize_hole;
