@import "nav";
@import "landing";
@import "utils";
@import "footer";
@import "post";
@import "toc";
@import "size";
@import "flip";
@import "card";
@import "grid";
@import "highlight";
@import "books";
@import "avatar";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h2 {
  font-size: 2rem;
  color: $light_black;
  font-weight: normal;
}

hr {
  display: block;
  height: 8px;
  background-color: lightgray;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  padding-top: $start_top;
  font-size: 18px;
  width: 100%;
  min-height: calc(100vh - 100px);
}

a {
  text-decoration: none;
  color: $pumpkin;
}
