@import "nav";
@import "landing";
@import "utils";
@import "footer";
@import "post";
@import "toc";
@import "size";

body {
  margin: 0px;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

hr {
  display: block;
  height: 8px;
  background-color: lightgray;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  width: min(70ch, 100%);
}

main {
  padding-top: $start_top;
  font-size: 18px;
  width: 100%;

  // display: flex;

  &.grid {
    display: grid;
    grid-template-columns:
      1fr
      min(70ch, 100%)
      1fr;
  }

  .highlighter-rouge {
    width: 100%;
    grid-column: 1 / 4;
    overflow-x: scroll;
  }
}

a {
  text-decoration: none;
  // background-color: burlywood;
}
