// inspired from https://github.com/kbrsh/wing

pre.highlight
  background-color: #ddd

pre.highlight
  overflow-x: auto
  overflow-y: hidden

ul.list-inline
  list-style-type: none

  li
    display: inline

.hidden
  display: none