body {
  margin: 0px;
}
@import "nav";
@import "landing";
@import "utils";
@import "footer";
@import "post";

h2 {
  font-size: 2rem;
  font-weight: normal;
}

hr {
  display: block;
  height: 8px;
  background-color: lightgray;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  padding-top: 150px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

a {
  text-decoration: none;
  // background-color: burlywood;
}
