@import "colors";

.post-card {
  width: 300px;
  height: 300px;
  margin: 2rem;

  color: black;

  &-title,
  &-description {
    display: flex;
    align-items: center;
    text-align: center;
  }
  // text-align: justify;

  &-title {
    font-weight: 800;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
  }
}

article {
  h2,
  h3 {
    cursor: pointer;

    &:hover {
      &::after {
        content: "🔗";
        position: relative;
        height: inherit;
        line-height: inherit;
      }
    }
  }
}
