@import "size";
@import "colors";
@import "utils";

.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #555;
  border-bottom: 25px solid transparent;
}

$nav_toc_size_xl: 300px;

nav.toc {
  width: 40px;
  height: 100px;

  position: fixed;
  top: 100px;
  right: 0px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 13px;
  overflow: hidden;

  // background-color: $cloud;
  background-color: $silver;
  box-shadow: 2px 4px 4px rgba(50, 50, 50, 0.2);

  transition-property: height, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  display: flex;

  p.toc-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: $midnight_blue;
    transform: rotate(-90deg);
    // position: absolute;
    // left: -10px;
  }

  ul.section-nav {
    list-style: none;
    height: 100%;
    padding-left: 0;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;

    li.toc-entry {
      // &:has(+ .active) {
      // }

      // text-align: center;
      // max-height: 40px;
      text-overflow: ellipsis;
      // overflow-y: hidden;
      color: $wet_asphalt;

      margin-top: 5px;
      margin-bottom: 0.5rem;

      &.active {
        ::before {
          content: "👉";
        }

        // font-weight: bold;
        color: $midnight_blue;
        font-weight: 500;
        display: block;

        & + li {
          display: block;
        }
      }

      // &.active::

      a {
        height: 40px;
        max-height: 40px;
        color: inherit;
      }
    }
  }

  &:hover {
    height: 500px;
    width: 250px;
    overflow-y: auto;
    transition-timing-function: ease-in;

    p.toc-title {
      display: none;
    }

    li.toc-entry {
      display: block !important;
    }
  }
}
