@import "size";
@import "colors";

$nav_toc_size_xl: 300px;

nav.toc {
  width: 150px;
  height: 100px;

  position: fixed;
  top: 100px;
  right: 50px;

  border-radius: 10px;
  padding: 10px;
  overflow: hidden;

  background-color: $cloud;
  box-shadow: 2px 4px 4px rgba(50, 50, 50, 0.2);

  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  p.toc-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: $midnight_blue;
  }

  ul.section-nav {
    list-style: none;
    height: 100%;
    padding-left: 0;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;

    li.toc-entry {
      display: none;
      text-align: center;
      max-height: 40px;
      text-overflow: ellipsis;
      overflow-y: hidden;
      color: $silver;

      padding-top: 5px;
      padding-bottom: 5px;

      &.active {
        // font-weight: bold;
        color: $midnight_blue;
        display: block;

        & + li {
          display: block;
        }
      }

      // &.active::

      a {
        height: 40px;
        max-height: 40px;
        color: inherit;
      }
    }
  }

  &:hover {
    height: 500px;
    overflow-y: auto;
    transition-timing-function: ease-in;

    li.toc-entry {
      display: block !important;
    }
  }
}
