@import "colors";

.lead {
  font-size: 24px;
}

.btn {
  display: block;
  border-radius: 5px;
  min-width: 40px;
  // font-size: 1rem;
  text-align: center;
  padding: 5px;

  transition: border-style 0.5s;
  color: inherit;

  background-color: $belize_hole;

  &:hover {
    border-style: groove;
  }
}

.mark {
  background-color: $sun_flower;
  padding: 10px;
  border-radius: 10px;

  mark {
    background-color: transparent;

    a {
      color: $belize_hole;
    }
  }
}

.hide {
  display: none;
}
