@import "../styles/_mixins";

.books {
  grid-column: 1 / 4 !important;
  @extend %flex-center;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex-grow: 1;
  flex-basis: 75ch;
  max-width: 500px;
  flex-direction: column;
  margin: 1rem;
}

.actions {
  @extend %flex-center;
}
