---
layout: main
title: Blog
---
<h1>Blog</h1>

<div class="posts full-breed">
  {% for post in paginator.posts %}
    {% include post.html post=post %}
  {% endfor %}
</div>

<!-- Pagination links -->
<nav>
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Précédent</a>
  {% else %}
  <span>Précédent</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <a href="{{ paginator.previous_page_path | relative_url | prepend: site.baseurl }}">{{ page }}</a>
  {% elsif page == 1 %}
  <a href="{{ paginator.previous_page_path | relative_url | prepend: site.baseurl }}">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Suivant</a>
  {% else %}
  <span>Suivant</span>
  {% endif %}
  </ul>
</nav>