---
layout: main
title: Blog
---
<h1>{% t blog %}</h1>

<p>
  {% t blog-description %}.
  {% if site.lang == 'fr' %}
  <a href="/blog/">{% t blog-see-en %}</a>
  {% elsif site.lang == 'en' %}
  <a href="/fr/blog/">{% t blog-see-fr %}</a>
  {% endif %}.
</p>

{% include posts-cards.html posts=paginator.posts %}

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
  <a class="btn" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Précédent</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <a class="btn" href="{{ paginator.previous_page_path | relative_url | prepend: site.baseurl }}">{{ page }}</a>
  {% elsif page == 1 %}
  <a class="btn" href="{{ paginator.previous_page_path | relative_url | prepend: site.baseurl }}">{{ page }}</a>
  {% else %}
  <a class="btn" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <a class="btn" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Suivant</a>
  {% endif %}
  </ul>
</nav>