.footer {
  height: 5rem;
  max-height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sitemap,
.terms,
.externals-links {
  // flex-grow: 1;
  flex-wrap: wrap;
  // flex-basis: 30%;
  padding-left: 1rem;
  padding-right: 1rem;

  & * {
    font-size: 1rem;
  }

  p {
    display: inline;
  }
}

.sitemap {
}

.terms {
}

.externals-links {
}
