@import "../styles/_colors.scss";

.layout {
  margin-top: 100px;
  display: grid;
  grid-template-columns:
    1fr
    min(70ch, 100%)
    1fr;

  & > * {
    grid-column: 2;
  }

  // min-height: calc(100vh - 200px);
}
div.highlighter-rouge {
  width: 100%;
  grid-column: 1 / 4;
  background-color: $light_grey;
  box-shadow: 3px 6px 4px rgba(50, 50, 50, 0.2);

  display: grid;
  grid-template-columns:
    1fr
    min(70ch, 100%)
    1fr;

  & > .highlight {
    grid-column: 2;
    overflow-x: auto;
  }

  // pre {
  //   // width: min(70ch, 100%);
  //   margin-left: auto;
  //   margin-right: auto;
  //   overflow-x: scroll;
  // }
}

.full-breed {
  grid-column: 1 / 4;
}
