---
import { getLangFromUrl } from "../i18n/utils";
type Props = { tags: string[] };
const { tags } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a href={`/${lang}/tag/${tag}`}>#{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  .tags {
    list-style: none;
    padding-left: 0;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: var(--spacing);
  }
</style>
