.card {
  border: 3px solid black;
  padding: 1rem;
  background-color: white;
  color: black;
  transition: background-position ease-in-out 0.2s, color ease-in-out 0.2s;
  background-image: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 200%;
  &:hover {
    color: white;
    background-position: 0 -100%;
  }

  &-title {
    font-weight: 800;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: white;
    border-color: white;
    background-color: black;
    background-image: linear-gradient(to bottom, black 50%, white 50%);

    &:hover {
      * {
        color: black !important;
      }
    }
  }
}
