@import "../styles/_colors.scss";

.navbar {
  height: 100%;

  width: 100%;
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 2px 4px 4px rgba(50, 50, 50, 0.2);

  transition: height 0.5s;

  a,
  div {
    color: black;
    text-decoration: none;
    height: 100%;
    line-height: 80px;
    font-size: 1.5rem;
    flex-grow: 1;
    text-transform: lowercase;
  }

  a:hover {
    color: $wisteria;
  }

  a.brand {
    font-size: 2rem;
    font-weight: 700;

    span {
      width: 50px;
      background-color: black;
      color: white;
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      text-transform: uppercase;

      transition: background-color height width font-size 0.5s;
    }

    &:hover {
      text-decoration: none;
      span {
        background-color: $wisteria;
      }
    }
  }
}

.language {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: black;
    box-shadow: none;

    a,
    div {
      color: white;
    }
  }

  a.brand {
    span {
      background-color: white !important;
      color: black !important;
    }
  }
}
