@import "../styles/_colors.scss";
@import "../styles/_mixins.scss";

.post-card-link {
  text-decoration: none;
  color: inherit;
}

.post-card {
  width: 18rem;
  height: 9rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  display: flex;
}

.title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  flex-grow: 3;
  @extend %flex-center;
  align-items: center;

  ul {
    list-style: none !important;
    padding-left: 0;
  }
}

.information {
  text-align: right;
  flex-basis: 1rem;
  font-size: 1rem;
}
