@import "../_mixins";
@import "../_colors";

.cards {
  flex-wrap: wrap;
  @extend %flex-center;
  grid-column: 1 / 4 !important;

  > * {
    margin: 1rem;
  }
}

.card {
  border: 3px solid black;
  padding: 1rem;
  background-color: white;
  color: black;
}
