@import "../colors";

// inline code
pre.highlight,
pre {
  overflow-x: auto;
  border: 1px solid var(--colors-primary-light);
  padding: 1rem;
  border-radius: 0.5rem;
}

// inline code
code.highlighter-rouge {
  background-color: var(--colors-primary-light);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.5rem;
}
