@import "../_sizes";
@import "../_mixins.scss";

.footer {
  padding: 1rem;

  * {
    font-size: small;
  }

  &__terms {
    margin-bottom: 0;
  }

  &__externals-links {
    @extend %list-inline;
    font-size: small;
  }
}
