@import "../_colors.scss";
@import "../_sizes.scss";

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr auto;
  row-gap: 3rem;
}

.grid {
  display: grid;
  grid-template-columns:
    1fr min($content-width, 100%) 1fr;

  &>* {
    grid-column: 2;
  }
}

@media (max-width: $break-point-sm) {
  .layout {
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-rows: 4rem 1fr auto;
  }
}