@import "../_colors.scss";
@import "../_mixins.scss";

.post-card-link {
  text-decoration: none;
  color: inherit;
}

.post-card {
  width: 18rem;
  height: 18rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  display: flex;

  // border: 3px solid black;
  // padding: 1rem;
  background-color: white;
  color: black;
  transition: background-position ease-in-out 0.2s, color ease-in-out 0.2s;
  background-image: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 200%;

  &__title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 3;
    @extend %flex-center;
    align-items: center;
    font-weight: 800;
  }

  &__date {
    text-align: right;
    flex-basis: 1rem;
    font-size: 1rem;
  }

  .post-card__title a,
  .tags a {
    transition: color ease-in-out 0.2s, color ease-in-out 0.2s;
  }

  &:hover {
    color: white;
    // TODO not works
    .post-card__title a,
    .tags a {
      color: $primary-light-40 !important;
    }
    background-position: 0 -100%;
  }

  @media (prefers-color-scheme: dark) {
    color: white;
    border-color: white;
    background-color: black;
    background-image: linear-gradient(to bottom, black 50%, white 50%);

    &:hover {
      * {
        color: black !important;
      }
    }
  }
}
