@import "../_colors.scss";
@import "../_mixins.scss";

.post-card-link {
  text-decoration: none;
  color: inherit;
}

.post-card {
  width: 18rem;
  height: 18rem;
  padding: 1rem;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  display: flex;

  border: 3px solid var(--colors-text);

  background-color: var(--colors-background);
  color: var(--colors-text);

  transition: background-position ease-in-out 0.2s, color ease-in-out 0.2s;
  background-image: linear-gradient(to bottom, var(--colors-background) 50%, var(--colors-text) 50%);
  background-size: 100% 200%;

  &__title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 3;
    @extend %flex-center;
    align-items: center;
    font-weight: 800;
  }

  &__date {
    text-align: right;
    flex-basis: 1rem;
    font-size: 1rem;
  }

  .post-card__date,
  .post-card__title a,
  .tags a {
    transition: color ease-in-out 0.2s, color ease-in-out 0.2s;
  }

  &:hover {
    color: var(--colors-background);

    .post-card__title a,
    .tags a {
      color: var(--colors-primary) !important;
    }

    .post-card__date {
      color: var(--colors-background);
    }

    background-position: 0 -100%;
  }
}
