<!DOCTYPE html>
<html lang="fr_FR">
  <head>
    {% include head.html %}
  </head>

  <body class="readable-content">
    {% include header.html %}
    <!-- header & navigation -->
    <h1>{{ page.title }}</h1>
    <nav>
      <ul class="list-inline">
        {% if page.previous %}
        <li>
          <a href="{{ page.previous }}"><i>Previous chapter</i></a>
        </li>
        {% endif %} {% if page.next %}
        <li>
          <a href="{{ page.next }}"><i>Next chapter</i></a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div>{{ content }}</div>
    <hr />
    <nav>
      <ul class="list-inline">
        <li>
          <a href="{{ page.previous }}"><i>Previous chapter</i></a>
        </li>
        <li>
          <a href="{{ page.next }}"><i>Next chapter</i></a>
        </li>
      </ul>
    </nav>
    {% include footer.html %}
    <link href="/css/pygments/monokai.css" rel="stylesheet" />
  </body>
</html>
