<!DOCTYPE html>
<html lang="fr_FR">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include header.html %}
    {{ content }}
    
    
    <!-- /.banner -->
    <!-- Footer -->
    {% include footer.html %}
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.0.1/lazyload.min.js"></script>
    <script src="js/smooth-scrolling.js"></script>
    <script src="js/piwik.js"></script>
    <script type="text/javascript">
      var myLazyLoad = new LazyLoad();
    </script>
  </body>
</html>