---
import PageHeader from "../components/PageHeader.astro";
import type { Langages } from "../i18n/ui";
import Layout from "./Layout.astro";

type Props = { lang: Langages };

const { lang } = Astro.props;

const title = "Resume";
const description = "Resume";
---

<Layout title={title} description={description ?? ""} lang={lang}>
  <article class="blog-post">
    <PageHeader>
      <h1>{title}</h1>
    </PageHeader>

    <div class="blog-post__content">
      <slot />
    </div>
  </article>
</Layout>

<style>
  .blog-post__content {
    max-width: var(--size-read);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }
</style>
